body {
  margin: 0 0 40px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  color: #1f2328;

  --border-color: #b8b8b8;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.container--narrow {
  max-width: 300px;
}

.title {
  text-align: center;
  margin-bottom: 16px;
  color: inherit;
}

.form-group {
  margin-bottom: 16px;
  display: flex;
  gap: 8px;
  align-items: center;
}

input {
  padding: 4px 8px;
  flex: 1;
  border: 1px solid var(--border-color);
  font-size: 1rem;
  color: inherit;
  background: transparent;
}

fieldset {
  border: 1px solid var(--border-color);
}

.radio-group {
  margin-bottom: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
}

button {
  color: inherit;
}

.submit-btn {
  margin: 20px 0;
}

.add-year-btn {
  margin: 16px 0;
}

.center {
  text-align: center;
}

.m-0 {
  margin: 0;
}

.mb-1 {
  margin-bottom: 4px;
}

.mt-4 {
  margin-top: 16px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-5 {
  margin-bottom: 20px;
}

.button {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

.button-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.button-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(110, 74%, 32%) 0%,
    hsl(110, 76%, 41%) 8%,
    hsl(110, 75%, 39%) 92%,
    hsl(110, 76%, 29%) 100%
  );
}

.button-front {
  display: block;
  position: relative;
  padding: 12px;
  border-radius: 12px;
  font-size: 1rem;
  color: white;
  background: hsl(110, 75%, 45%);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

@media (min-width: 768px) {
  .button-front {
    font-size: 1rem;
    padding: 12px;
  }
}

.button:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button:hover .button-front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

@media (max-width: 768px) {
  .button {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
  }

  .button .button-front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
}

.button:active .button-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

@media (max-width: 768px) {
  .active.button .button-front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
}

.button:hover .button-shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

@media (max-width: 768px) {
  .button .button-shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
}

.button:active .button-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

@media (max-width: 768px) {
  .active.button .button-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
}

.button:focus:not(:focus-visible) {
  outline: none;
}

.button:focus-visible {
  outline: auto;
}
